PORT=3010
STOTRA_SERVER_HOST=127.0.0.1

STOTRA_MONGODB_USERNAME=
STOTRA_MONGODB_PASSWORD=
STOTRA_MONGODB_CLUSTER=
MONGO_DB_NAME=antitude

STOTRA_JWT_SECRET=
STOTRA_TURNSTILE_SECRET=
STOTRA_KIS_APP_KEY=
STOTRA_KIS_APP_SECRET=
STOTRA_KIS_ENV=real
STOTRA_NAVER_CLIENT_ID=
STOTRA_NAVER_CLIENT_SECRET=

SCENARIO_SERVICE_URL=http://127.0.0.1:8000
SCENARIO_SERVICE_TIMEOUT_MS=30000
MARKET_REACTION_URL=http://127.0.0.1:8002
MARKET_REACTION_TIMEOUT_MS=120000
AI_JUDGMENT_SERVICE_URL=http://127.0.0.1:8003
AI_JUDGMENT_SERVICE_TIMEOUT_MS=120000
DOWNSTREAM_HEALTH_TIMEOUT_MS=3000
